

@media (min-width: 761px) {
    /* HEADER */
    :root {
        --index: calc(1vw + 1vh);
    }

    @keyframes OpacityArrow {
        0% {
            opacity: 0.3;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0.3;
        }
    }

    @keyframes RotationOne {
        from {
            /* transition: 0.8s; */
            transform: rotate(0deg);
        }
        to {
            /* transition: 0.8s; */
            transform: rotate(360deg);
        }
    }

    @keyframes RotationTwo {
        from {
            transition: 0.8s;
            transform: rotate(0deg);
        }
        to {
            transition: 0.8s;
            transform: rotate(-360deg);
        }
    }

    .blocks{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 30%;
        /* background-color: #1D1D1D; */
        background: linear-gradient(180deg, #090C2D 15.10%, #000000 99.99%, #1D83BC 100%);
    }

    .blocks__layout{
        display: flex;
        justify-content: center;
        align-items: center;

        /* background-color: aliceblue; */
        width: 100%;
        height: calc(var(--index) * 15);
    }

    .blocks__ui-button{
        transition: 1s;
        border-radius: 43px;
        background: #6F03B1;    

        margin: 10px;
        width: calc(var(--index) * 11.5);
        height: calc(var(--index) * 11.5);
    }

    .blocks_ui{
        display: flex;
        width: calc(var(--index) * 11.5);
        height: calc(var(--index) * 11.5);
    }

    .blocks__ui-h2{
        display: flex;
        justify-content: left;
        color: #FFFFFF;
        text-align: left;
        font-family: PT Serif;
        font-size: calc(var(--index) * 1);
        font-style: normal;
        font-weight: 700;
        margin-left: calc(var(--index) * 1);
        margin-bottom: calc(var(--index) * 1);
    }

    .blocks__ui-text{
        display: flex;
    }

    .blocks__ui-text__a-10{
        font-size: calc(var(--index) * 2.5);
        font-weight: 800;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(92deg, #b9b9b9a6, #ffffff);
    }

    .blocks__ui-text__a-case{
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-weight: 600;
        background-image: linear-gradient(92deg, #b9b9b9b2, #ffffff);
    }

    .blocks__ui-text__a{
        text-align: left;
        font-family: PT Serif;
        
        font-size: calc(var(--index) * 1);
        line-height: 25px;
        right: calc(var(--index) * 1);
        z-index: 1;
        margin-top: calc(var(--index) * 2);
    }

    .blocks__ui-text img{
        width: calc(var(--index) * 3);
        height: calc(var(--index) * 6);
        margin-left: calc(var(--index) * 1);
        margin-top: calc(var(--index) * 1);
    }

    .blocks__ui-button:hover{
        transition: 1s;
        transform: scale(1.1);
        backdrop-filter: blur(13px);
        box-shadow: 3px 3px rgb(94, 9, 128), -1em 0 .4em rgb(38, 11, 196);
    }

    .blocks__tools-button{
        transition: 1s;
        border-radius: 43px;
        background: #AB763D;
        display: flex;
        justify-content: center;
        margin: 10px;
        width: calc(var(--index) * 11.5);
        height: calc(var(--index) * 11.5);
    }

    .blocks__tools{
        width: calc(var(--index) * 11.5);
        height: calc(var(--index) * 11.5);
    }

    .blocks__tools img{
        position: absolute;
        width: calc(var(--index) * 10.5);
        height: calc(var(--index) * 10.5);
        margin: calc(var(--index) * 0.5);
        animation: RotationTwo 5s infinite linear;
        
    }

    .blocks__tools h2{
        position: absolute;
        margin: calc(var(--index) * 4.4) calc(var(--index) * 2.8);

        color: #232323;
        text-align: center;
        font-family: PT Serif;
        font-size: calc(var(--index) * 1);
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
    }

    .blocks__tools-button:hover{
        transition: 1s;
        z-index: 4;
        transform: scale(1.1);
        /* backdrop-filter: blur(13px); */
        box-shadow: 3px 3px rgb(139, 103, 2), -1em 0 .4em rgb(151, 102, 9);
    }

    .blocks__design-button{
        transition: 1s;
        border-radius: 43px;
        background: #D9D9D9;

        display: flex;
        justify-content: center;

        margin: 10px;
        width: calc(var(--index) * 11.5);
        height: calc(var(--index) * 11.5);
    }

    .blocks__design{
        display: block;
        justify-content: center;
        width: calc(var(--index) * 11.5);
        height: calc(var(--index) * 11.5);
        
    }

    .blocks__design img{
        width: calc(var(--index) * 6);
        height: calc(var(--index) * 6);
        margin: calc(var(--index) * 0.5) calc(var(--index) * 2.7);
    }

    .blocks__design h2{
        color: #000;
        font-family: PT Serif;
        font-size: calc(var(--index) * 1);
        font-style: normal;
        font-weight: 700;
        line-height: calc(var(--index) * 1);
    }

    .blocks__design p{
        color: #000;
        text-align: center;
        font-family: PT Serif;
        font-size: calc(var(--index) * 0.7);
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
    }

    .blocks__design a{
        color: #000;
        text-align: center;
        font-family: PT Serif;
        font-size: calc(var(--index) * 1.5);
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
    }

    .blocks__design-button:hover{
        transition: 1s;
        z-index: 4;
        transform: scale(1.1);
        box-shadow: 3px 3px rgb(201, 201, 201), -1em 0 .4em rgb(170, 170, 170);
    }

    .blocks__more-button{
        transition: 1s;
        border-radius: 43px;
        background: #1D1D1D;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 10px;
        width: calc(var(--index) * 11.5);
        height: calc(var(--index) * 11.5);
    }

    .blocks__more{
        width: calc(var(--index) * 11);
        height: calc(var(--index) * 11);
    }

    .blocks__more img{
        width: calc(var(--index) * 6);
        height: calc(var(--index) * 6);
        margin: calc(var(--index) * 0.5) calc(var(--index) * 2.7);
        animation: OpacityArrow 3s infinite linear;
    }

    .blocks__more h2{
        color: #ffffff;
        font-family: PT Serif;
        font-size: calc(var(--index) * 1);
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
    }

    .blocks__more-button:hover{
        transition: 1s;
        z-index: 4;
        transform: scale(1.1);
        /* backdrop-filter: blur(13px); */
        box-shadow: 3px 3px rgb(74, 74, 74), -1em 0 .4em rgb(70, 70, 70);
    }

    .main__container-animation__three{
        position: absolute;
        width: calc(var(--index) * 15);
        height: calc(var(--index) * 15);
        animation: RotationTwo 5s infinite linear;
    }

    .blocks::before{
        background-color: #FFFFFF;
        content: " ";
        background: linear-gradient(#ffffff 0%, rgb(0, 0, 0) 100%);
        width: 90%;
        height: 1px;
        bottom: calc(var(--index) * -15);
        /* filter: blur(13px); */
        position: absolute;
    }
}