

@media (min-width: 761px) {
    /* HEADER */
    :root {
        --index: calc(1vw + 1vh);
    }

    header{
        height: 70px;
    }

    .main__header-layout{
        display: flex;
    }

    .main__header-layout__logo{
        padding: 6px;
        margin-left: 20px;

        width: 220px;
        height: 70px;
    }

    .main__header-layout__logo img{
        background-color: rgb(142, 137, 137);
        height: 55px;
        width: 200px;
    }

    .main__header-layout__logo img:hover {
        -webkit-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
      }
      

    header nav{
        background-color: rgb(142, 137, 137);
        width: calc(var(--index) * 51);
        height: 70px;
    }

    header nav ul{
        display: flex;
        justify-content: center;
    }

    header nav ul li{
        display: inline-block;

        width: calc(var(--index) * 7);
        height: 70px;
    }
    
    header a{
        display: flex;
        justify-content: center;
        margin: calc(var(--index) * 0.6);
        transition: 0.8s;
        
        font-family: PT Serif;
        font-weight: 600;
        color: #FFFFFF;
        font-size: 25px;
        cursor: pointer;
    }
    
    header a:hover{
        transition: 0.8s;
        
        color: rgb(85, 157, 240);
        box-shadow: 
        0 0 7px 1px rgb(85, 157, 240);
        border-radius: 10px;
        padding: 7px;
    }

    .main__header-layout__navigation-home{
        border-radius: 49px;
        background: linear-gradient(135deg, rgba(217, 217, 217, 0.531) 0%, rgba(217, 217, 217, 0.00) 100%);

    }

    .main__header-layout__menu{
        position: relative;
        display: inline-block;
        padding: calc(var(--index) * 0.6);
    }

    .main__header-layout__menu-dropdown__text{
        transition: 0.8s;
        display: block;
        /* position: absolute; */
        /* padding-right: 100px; */
        min-width: 160px;
        background-color: black;
        z-index: 1;
    }

    .main__header-layout__menu-dropdown__text a{
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .main__header-layout__menu:hover .main__header-layout__menu-dropdown__text{
        transition: 0.8s;
        display: block;
    }
    /*  */
}