

@media (max-width: 761px) {
    /* HEADER */
    :root {
        --index: calc(1vw + 1vh);
    }

    .video{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(var(--index) * 32);
        /* background-color: #1D1D1D; */
        background-color: #000000;
    }

    .video__block{
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: calc(var(--index) * 0.1); */
        border: solid rgb(131, 1, 131);

        /* background-color: aliceblue; */
        width: 80%;
        height: calc(var(--index) * 18);
    }
}