

@media (min-width: 761px) {
    /* HEADER */
    :root {
        --index: calc(1vw + 1vh);
    }

    @keyframes SizeOne {
        0% {
            margin: calc(var(--index) * 3.5);
            width: calc(var(--index) * 8);
            height: calc(var(--index) * 8);
        }
        50%{
            margin: calc(var(--index) * 3.3);
            width: calc(var(--index) * 9);
            height: calc(var(--index) * 9);
        }
        100% {
            margin: calc(var(--index) * 3.5);
            width: calc(var(--index) * 8);
            height: calc(var(--index) * 8);
        }
    }

    @keyframes RotationOne {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes RotationTwo {
        from {
            transition: 0.8s;
            transform: rotate(0deg);
        }
        to {
            transition: 0.8s;
            transform: rotate(-360deg);
        }
    }

    header{
        height: 8vh;
    }

    .main__header-layout{
        display: flex;
    }

    .main__header-layout__logo{
        padding: 5px;

        width: 300px;
        height: 50;
    }

    .main__header-layout__logo img{
        transition: 3s;
        height: 55px;
        width: 300px;
    }

    .main__header-layout__logo img:hover {
        transition: 3s;
        -webkit-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
      }
      

    header nav{
        width: calc(var(--index) * 49);
        height: 8vh;
    }

    header nav ul{
        display: flex;
        justify-content: center;
    }

    header nav ul li{
        display: inline-block;

        width: calc(var(--index) * 7);
        height: 8vh;
    }
    
    header a{
        display: flex;
        justify-content: center;
        margin: calc(var(--index) * 0.8);
        transition: 0.8s;
        
        font-family: PT Serif;
        font-weight: 600;
        color: #FFFFFF;
        font-size: 25px;
        cursor: pointer;
    }
    
    header a:hover{
        transition: 0.8s;
        
        color: rgb(85, 157, 240);
        box-shadow: 
        0 0 7px 1px rgb(85, 157, 240);
        border-radius: 10px;
        padding: 7px;
    }

    .main__header-layout__navigation-home{
        transition: 2s;
        border-radius: 49px;
        background: linear-gradient(135deg, rgba(217, 217, 217, 0.531) 0%, rgba(217, 217, 217, 0.00) 100%);

    }

    .main__header-layout__menu{
        position: relative;
        display: inline-block;
        padding: calc(var(--index) * 0.6);
    }

    .main__header-layout__menu-dropdown{
        display: flex;
        margin-left: 100px;
        min-width: 80px;
    }

    .main__header-layout__menu-dropdown__text{
        transition: 0.8s;
        display: none;
        position: absolute;
        padding: 5px;
        margin-top: 10px;
        min-width: 160px;
        background-color: rgb(52, 51, 51);
        border-radius: 20px;
        z-index: 1;
    }

    .main__header-layout__menu-dropdown__text a{
        color: white;
        padding: 5px 16px;
        margin: 5px;

        text-align: right;
        font-size: 14px;
        text-decoration: none;
        display: block;
    }

    .main__header-layout__menu:hover .main__header-layout__menu-dropdown__text{
        transition: 0.8s;
        display: block;
    }
    /*  */
    /*MAIN CONTAINER*/
    .services{
        background-position: center center;
        background-size: cover;
        background: linear-gradient(0deg, #2b2b2b 15.10%, #000000 99.99%, #102735 100%);
        /* background-image: url("../../../../public/main-stacked-waves.svg"); */
    }

    .services__main-container{
        display: flex;
        justify-content: center;
        /* flex-wrap: wrap; */
        width: 100%;
        height: 90vh;
    }

    .services__main-container__rectangle{
        display: flex;
        justify-content: center;
        width: 90%;
        height: calc(var(--index) * 30);
        
    }

    .services__main-container__rectangle-bot-h2{
        display: flex;
        justify-content: center;
        width: 100%;
        height: calc(var(--index) * 1);
    }

    .services__main-container__rectangle-bot-h2 h2{
        color: #ffffff;
        font-family: PT Serif;
        font-size: calc(var(--index) * 1);
        font-style: normal;
        align-items: center;
        font-weight: 700;
        transition: 1s;
        /* line-height: calc(var(--index) * 1); */
    }

    .services__main-container__rectangle-bot-ul{
        display: flex;
        justify-content: center;
        width: 100%;
        height: calc(var(--index) * 12);
    }

    .services__main-container__rectangle-bot-ul ul{
        color: #ffffff;
        font-family: PT Serif;
        font-size: calc(var(--index) * 0.9);
        font-style: normal;
        align-items: center;
        font-weight: 500;
        margin: calc(var(--index) * 2);
    }

    .services__main-container__rectangle-bot img{
        margin: calc(var(--index) * 2);
    }

    .services__main-container__rectangle-bot{
        transition: 1s;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 40%;
        height: calc(var(--index) * 28);
        margin: calc(var(--index) * 1);
        border-radius: 50px;
        border: 1px solid white;
        background: linear-gradient(0deg, #0000007e 15.10%, #41414100 99.99%, #102735 100%);
    }

    .services__main-container__rectangle-bot:hover{
        transition: 1s;
        position: relative;
        width: 44%;
        height: calc(var(--index) * 30);
        /* margin: calc(var(--index) * 1); */
    }

    .services__main-container__rectangle-bot:hover h2{
        transition: 1s;
        text-decoration: underline;
        font-size: calc(var(--index) * 1.2);
        /* border-bottom: 2px dashed #32557f */
    }

    .services__main-container__rectangle-bot img{
        width: calc(var(--index) * 10);
        height: calc(var(--index) * 13);
        margin: calc(var(--index) * 1);
    }

    .services__main-container__rectangle-site{
        transition: 1s;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 40%;
        height: calc(var(--index) * 28);
        margin: calc(var(--index) * 1);
        border-radius: 50px;
        border: 1px solid white;
        background: linear-gradient(0deg, #0000007e 15.10%, #41414100 99.99%, #102735 100%);
    }

    .services__main-container__rectangle-site-h2 h2{
        color: #ffffff;
        font-family: PT Serif;
        font-size: calc(var(--index) * 1);
        font-style: normal;
        align-items: center;
        font-weight: 700;
        /* line-height: calc(var(--index) * 1); */
    }

    .services__main-container__rectangle-site-h2{
        display: flex;
        justify-content: center;
        width: 100%;
        height: calc(var(--index) * 1);
    }

    .services__main-container__rectangle-site-ul ul{
        color: #ffffff;
        font-family: PT Serif;
        font-size: calc(var(--index) * 0.9);
        font-style: normal;
        align-items: center;
        font-weight: 500;
        margin: calc(var(--index) * 2) calc(var(--index) * 4);
    }

    .services__main-container__rectangle-site-ul{
        display: flex;
        justify-content: center;
        width: 100%;
        height: calc(var(--index) * 14);
    }

    .services__main-container__rectangle-site:hover{
        transition: 1s;
        position: relative;
        width: 44%;
        height: calc(var(--index) * 30);
        /* margin: calc(var(--index) * 1); */
    }

    .services__main-container__rectangle-site:hover h2{
        transition: 1s;
        text-decoration: underline;
        font-size: calc(var(--index) * 1.2);
        /* border-bottom: 2px dashed #32557f */
    }

    .services__main-container__rectangle-site img{
        width: calc(var(--index) * 25);
        height: calc(var(--index) * 12);
        /* margin: calc(var(--index) * 2) */
    }
}