

@media (max-width: 761px) {
    /* HEADER */
    :root {
        --index: calc(1vw + 1vh);
    }
    
    @keyframes RotationOne {
        from {
            /* transition: 0.8s; */
            transform: rotate(0deg);
        }
        to {
            /* transition: 0.8s; */
            transform: rotate(360deg);
        }
    }

    @keyframes RotationTwo {
        from {
            transition: 0.8s;
            transform: rotate(0deg);
        }
        to {
            transition: 0.8s;
            transform: rotate(-360deg);
        }
    }

    header{
        height: 10vh;
        width: 100%;
    }

    .main__header-layout{
        display: flex;
        justify-content: center;
    }

    .main__header-layout__logo{
        padding: 6px;
        /* margin-left: 20px; */

        width: 220px;
        height: 8vh;
    }

    .main__header-layout__logo img{
        height: 55px;
        width: 200px;
    }      

    header nav{
        display: none;
    }
    
    header a{
        display: flex;
        justify-content: center;
        margin: calc(var(--index) * 0.8);
        transition: 0.8s;
        
        font-family: PT Serif;
        font-weight: 600;
        color: #FFFFFF;
        font-size: 20px;
        cursor: pointer;
    }
    
    header a:hover{
        transition: 0.8s;
        
        color: rgb(85, 157, 240);
        box-shadow: 
        0 0 7px 1px rgb(85, 157, 240);
        border-radius: 10px;
        padding: 7px;
    }

    .main__header-layout__navigation-home{
        border-radius: 49px;
        background: linear-gradient(135deg, rgba(217, 217, 217, 0.531) 0%, rgba(217, 217, 217, 0.00) 100%);

    }

    .main__header-layout__menu{
        position: relative;
        display: inline-block;
        padding: calc(var(--index) * 0.6);
    }

    .main__header-layout__menu-dropdown{
        display: flex;
        justify-content: right;
        margin-left: calc(var(--index) * 3);
        margin-top: calc(var(--index) * 1);
        min-width: 80px;
    }

    .main__header-layout__menu-dropdown__text{
        transition: 0.8s;
        display: none;
        position: absolute;
        padding: 5px;
        margin-top: 10px;
        right: 5px;
        min-width: 160px;
        background-color: rgb(52, 51, 51);
        border-radius: 20px;
        z-index: 10;
    }

    .main__header-layout__menu-dropdown__text a{
        color: white;
        padding: 5px 16px;
        margin: 5px;

        text-align: right;
        font-size: 14px;
        text-decoration: none;
        display: block;
    }

    .main__header-layout__menu:hover .main__header-layout__menu-dropdown__text{
        transition: 0.8s;
        display: block;
    }
    /*  */

    /*MAIN CONTAINER*/
    .contact{
        background-position: center center;
        background-size: cover;
        background: linear-gradient(180deg, #16034A 0%, #7E519A 48.96%, #290142 100%);
        /* background-image: url("../../../../public/main-stacked-waves.svg"); */
    }

    .contact__main-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* position: relative; */
        /* margin: calc(var(--index) * 2); */
        width: 100%;
        height: 60vh;
    }

    .contact__main-container h1{
        text-align: center;
        /* display: grid; */
        align-items: center;
        font-weight: 700;
        font-size: calc(var(--index) * 2);
        /* width: 100%; */
        height:calc(var(--index) * 2);
        /* margin-left: calc(var(--index) * 0.2); */
        color: #FFFFFF;
    }

    .contact__block__img{
        width: calc(var(--index) * 10);
        height: calc(var(--index) * 10);
        position: absolute;
        z-index: 1;
        top: calc(var(--index) * 20);
        opacity: 0.5;
        animation: RotationTwo 5s infinite linear;
    }

    .contact__main-container__rectangle{
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        /* margin: calc(var(--index) * 2); */
        width: 95%;
        border-radius: 50px;
    }

    .contact__main-container__rectangle-email{
        width: 50%;
        height: calc(var(--index) * 30);
        margin: calc(var(--index) * 1);
        border-radius: 20px;
        background: linear-gradient(135deg, #224B6B 0%, rgba(11, 11, 11, 0.70) 99.48%);
    }

    .contact__main-container__rectangle-text{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 40%;
        height: calc(var(--index) * 30);
        margin: calc(var(--index) * 1);
    }

    .contact__main-container__rectangle-text__phone{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: calc(var(--index) * 10);
        margin: calc(var(--index) * 1);
        border-radius: 20px;
        background: linear-gradient(135deg, #224B6B 0%, rgba(11, 11, 11, 0.70) 99.48%);
    }

    .contact__main-container__rectangle-text__qr{
        display: grid;
        justify-content: center;
        /* flex-wrap: wrap; */
        width: 100%;
        height: calc(var(--index) * 15);
        margin: calc(var(--index) * 1);
        border-radius: 20px;
        background: linear-gradient(135deg, #224B6B 0%, rgba(11, 11, 11, 0.70) 99.48%);
    }

    
    .contact__main-container__rectangle-text__qr img{
        width: calc(var(--index) * 10);
        height: calc(var(--index) * 10);
    }


    .contact__main-container__rectangle-text__qr a{
        /* width: 100%; */
        text-align: center;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: calc(var(--index) * 0.8);
        color: #FFFFFF;
    }

    .contact__main-container__rectangle-text__phone a{
        /* width: 100%; */
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: 700;
        font-size: calc(var(--index) * 0.8);
        margin-left: calc(var(--index) * 0.2);
        color: #FFFFFF;
    }

    .contact__form__container-line {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        /* font-size: calc(var(--index) * 0.9); */
    }

    .contact__form {
        /* background: #484f9b; */
        /* border-radius: 70px; */
    }

    .contact__form__container-radio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        margin: calc(var(--index) * 0.3);
    }

    .contact__form__container-task {
        width: calc(var(--index) * 20);
        height: calc(var(--index) * 10);
        background: linear-gradient(180deg, #606060 0%, rgba(96, 96, 96, 0.00) 100%);
        border: none;
        outline: none;
        border-radius: calc(var(--index) * 1.1);
        padding: calc(var(--index) * 1) calc(var(--index) * 1.3);
        margin-top: calc(var(--index) * 0.5);
        font-weight: 500;
        font-size: calc(var(--index) * 0.6);
        color: #FFFFFF;
        resize: none;
    }
    
    .contact__form__container-task::placeholder {
        color: #FFFFFF;
    }

    .contact__form__container-info {
        font-weight: 300;
        text-align: center;
        font-size: calc(var(--index) * 0.8);
        /* margin: calc(var(--index) * 0.5); */
        color: #FFFFFF;
    }

    .contact__form__container-name {
        justify-content: center;
        width: calc(var(--index) * 20);
        height: calc(var(--index) * 2);
        background: linear-gradient(180deg, #606060 0%, rgba(96, 96, 96, 0.00) 100%);
        border: none;
        outline: none;
        border-radius: 50px;
        padding: 0 calc(var(--index) * 1);
        margin: calc(var(--index) * 0.5);
        font-weight: 500;
        font-size: calc(var(--index) * 0.6);
        color: #FFFFFF;
    }
    
    .contact__form__container-name::placeholder {
        color: #FFFFFF;
    }

    .contact__form__container-email {
        width: calc(var(--index) * 20);
        height: calc(var(--index) * 2);
        background: linear-gradient(180deg, #606060 0%, rgba(96, 96, 96, 0.00) 100%);
        border: none;
        outline: none;
        border-radius: 50px;
        padding: 0 calc(var(--index) * 1);
        margin: calc(var(--index) * 0.5);
        font-weight: 500;
        font-size: calc(var(--index) * 0.6);
        color: #FFFFFF;
    }
    
    .contact__form__container-email::placeholder {
        color: #FFFFFF;
    }

    .contact__form__container-phone {
        width: calc(var(--index) * 20);
        height: calc(var(--index) * 2);
        background: linear-gradient(180deg, #606060 0%, rgba(96, 96, 96, 0.00) 100%);
        border: none;
        outline: none;
        border-radius: 50px;
        padding: 0 calc(var(--index) * 1);
        margin: calc(var(--index) * 0.5);
        font-weight: 500;
        font-size: calc(var(--index) * 0.6);
        color: #FFFFFF;
    }
    
    .contact__form__container-phone::placeholder {
        color: #FFFFFF;
    }

    .contact__title {
        margin-top: 30px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: calc(var(--index) * 1.5);
    }
    
    .contact__form__container {
        justify-content: center;
        margin: calc(var(--index) * 1) calc(var(--index) * 1);
    }
    
    .contact__form__container-type {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: calc(var(--index) * 0.6);
        margin-left: calc(var(--index) * 0.2);
        color: #FFFFFF;
    }
    
    input[type="radio"] {
        width: calc(var(--index) * 1.5);
        height: calc(var(--index) * 1.5);
        margin-right: 5px;
        cursor: pointer;
    }
    
    .contact__form__container-send:hover{
        background: rgba(116, 23, 231, 1);
    }
    
    .contact__form__container-send {
        display: flex;
        justify-content: center;
        width: calc(var(--index) * 13);
        height: calc(var(--index) * 2);
        margin: calc(var(--index) * 0.5);
        background: linear-gradient(180deg, #606060 0%, rgba(96, 96, 96, 0.00) 100%);
        border-radius: 50px;
        border: none;
        outline: none;
        font-weight: 700;
        font-size: calc(var(--index) * 1);
        color: #FFFFFF;
        cursor: pointer;
    }
    
    .contact__form-send__massege{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: calc(var(--index) * 1);
        color: greenyellow;
    }
}